---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<p>We are a not-for-profit initiative that aims to raise digital awareness among disadvantaged communities in rural areas of Africa.</p>
<ul>
  <li><a href="{{ '/about/' | url }}">Learn more</a> about our Mission, Vision, Strategy, Goals and Roadmap</li>
  <li>See our <a href="{{ '/posts/' | url }}">Impact</a></li>
</ul>