---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<p>We are a not-for-profit initiative that aims to raise digital awareness among disadvantaged communities in rural areas of Africa. <a href="{{ '/about/' | url }}">Learn more</a> about our Mission, Vision, Strategy, Goals and Roadmap.</p>
<div>
  <img src="../img/neebyo-impact-donation.png" alt="Neebyo - Impact - Donation" class="responsive">
  <p><a href="{{ '/posts/' | url }}">Learn more</a> about our Impact</li></p>
</div>